# if Statements

In [5]:
#increment the value by 1

n=int(input("Enter the number:" ))
print("The number is:", n,end='\n')
n+=1
print("The number increment by 1:",n)

Enter the number:100
The number is: 100
The number increment by 1: 101

In [6]:
#Determine weather a person is eligible to vote by using  input 

age=int(input("Enter the age of a person:"))
if age>18:
    print("Person is eligible to vote")
else:
    print("person is not eligible")

Enter the age of a person:20
Person is eligible to vote

# if - else Statements

In [26]:
#find the number is even or odd by using input 
n=int(input("Enter the number: "))
if n==1:
    print(n,"is odd")
else:
    if n%2==0:
        print(n,"is even")
    else:
        print(n,"odd")

Enter the number: 24
24 is even

In [2]:
# A company decides to give bonus to all its employees on New year. A 10% bonus on salary for all the male workers and
# 25% to females. build a programme to enter Salary and Gender(m or F) of employee. 
salary=int(input("Enter the salary:"))
Gender=input("Enter the gender:")
if Gender=='male':
    bonus=10*salary/100
    salary=salary+bonus
    print("New year salary of employee is:",salary)
elif Gender=='female':
    bonus=25*salary/100
    salary=salary+bonus
    print("New year salary of employee is ",salary)

Enter the salary:5000
Enter the gender:female
New year salary of employee is  6250.0

# if -elif- else Statement

In [3]:
# check weather the number is positive or negitive or equal to zero using input
n=int(input("Enter the number"))
if n==0:
    print("The Entered number is zero")
elif n<0:
    print("The Entered number is negative")
else:
    print("The Entered number is positive")

Enter the number10
The Entered number is positive

In [4]:
# Test Weather the charcter is vowel or not vowel using input
v=['a','e','i','o','u']
n=input('Enter the character:')
for i in n:
    if i in v:
        print(n,"is a vowel")
    else:
        print(n,"is not a vowel")

Enter the character:u
u is a vowel

In [56]:
#Given an integer input perform the following conditional actions:

#If n is odd, print odd
#If n is even and in the inclusive range of 2 to 5, print small
#If n is even and in the inclusive range of 6 to 20, print medium
#If n is even and greater than 20, print big

n=int(input("Enter the number:"))
if n%2!=0:
    print("It is odd")
else:
    if n>=2 &n>=5:
        print("It is even and small")
    elif n>=6 &n<=20:
        print("It is medium Even number")
    else:
        print("It is bigger even number")

Enter the number:22
It is medium Even number

# while loop

In [68]:
# print first 10 numbers 
i=1
while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [5]:
# find average and sum for first 10 number                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
sum=0
i=1
while i<=10:
    sum=sum+i
    i=i+1
print("The sum",sum)

The sum 55

In [8]:
#Draw a line using while loop 
i=1
while i<=10:
    print("_"*i,end="")
    i=i+1

_______________________________________________________

In [12]:
#calculate the sum of m to n  numbers using input
m=int(input("Enter the 1st number"))
n=int(input("Enter the 2nd number"))
sum=0
for i in range(m,n+1):
    sum=sum+i
print("sum of",m,"to",n,"number:",sum)

Enter the 1st number1
Enter the 2nd number10
sum of 1 to 10 number: 55

In [19]:
# countdown 10 to 0 using input
i=10
while i>=0:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1
0

# for loop

In [27]:
#Multiplication table using input
n=int(input("Enter the table number:"))
for i in range(1,12):
    print(i,"x",n,"=",i*n)

Enter the table number:2
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
11 x 2 = 22

In [55]:
#print even and odd for range of number
m=int(input("Enter the 1st number"))
n=int(input("Enter the second number"))
print("odd number between",m ,"and",n)

for i in range(m,n+1):
    if i%2!=0:
        print(i,end=" ")
    print()
        
s=int(input("Enter the 1st number"))
t=int(input("Enter the second number"))       
print("Even number between",s ,"and",t)       
for i in range(s,t+1):
    if i%2==0:
        print(i,end=" ")
    print()

Enter the 1st number1
Enter the second number10
odd number between 1 and 10
1

3

5

7

9

Enter the 1st number2
Enter the second number15
Even number between 2 and 15
2

4

6

8

10

12

14

In [59]:
# break statement

#break statement is used to terminate the loop when the 
#particular condition is satisfied

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [61]:
#countinue statement 

#continue keyword is used to end the iteration of a loop 
#and continue the next iteration
for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [64]:
# all leap years from 1800 - 2021

c=int(input("Enter the year:"))
if (c%4==0) and (c%100!=0):
    print("The year is a leap year")
else:
    print("The year is not a leap year")

Enter the year:1802
The year is not a leap year

# User defined function

In [2]:
#creating arethematic operators using user defined functions
n1=int(input("Enter the first number:"))
n2=int(input("Enter the second number"))
def add1(n1,n2):
    return n1+n2
def sub1(n1,n2):
    return n1-n2
print("The addition is:",add1(n1,n2))
print("The subtraction is:",sub1(n1,n2))
add1(2,7)

Enter the first number:10
Enter the second number20
The addition is: 30
The subtraction is: -10

9

In [15]:
#Welcome With input 

def greet(name):
    print("welcome",name)
    return
greet('nan')
greet('nana')

welcome nan
welcome nana

# Lambda function

In [20]:
# sum using lambda function
sum=lambda x,y:x+y
sum(1,10)

11

In [19]:
sum1=lambda x,y,z:x+y+z
sum1(19,20,50)

89

In [25]:
# create a list using loop

li=[]
for i in range(20):
    li.append(i)
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [26]:
#create a list of first 10 number using list comprehension
new_list=[i for i in range(11)]
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
# select all the even number form the list with filter()
list1=[1,2,3,4,6,9,10]
def even1(x):
    return x%2==0
li2=list(filter(even1,list1))
print(li2)

[2, 4, 6, 10]

In [31]:
# get  the squiares of numbers form the list with map()
list2=[3,4,5,7,8,9,10]
def square_num(x):
    return x*x
new_list=list(map(square_num,list2))
print(new_list)

[9, 16, 25, 49, 64, 81, 100]

In [32]:
#get the sum of numbers of the list using reduce()
import functools
import operator
list3=[1,19,1,18,17,16]
print("The sum of element in the list:",end=" ")
print(functools.reduce(operator.add,list3))

The sum of element in the list: 72