# tuple

In [3]:
#empty tuple
tupl1=()

#tuple with single data 
tupl1=(89,)#this is for single entry in tuple to add ,
print(tupl1)

(89,)

In [4]:
#tuple of strings
tupl2=("hi","hello","how are you")

In [5]:
tupl2

('hi', 'hello', 'how are you')

In [6]:
tupl3=(1,5,5.5,"hello world")

In [7]:
tupl3

(1, 5, 5.5, 'hello world')

In [8]:
#nested tuples
#tuples inside another tuples
tupl4=((2,4,56,7),(3,5,6,87))

In [9]:
tupl4[0][1]

4

In [11]:
tupl4[0][1]=5
tupl4

TypeError: 'tuple' object does not support item assignment

In [13]:
#we can create empty tuple
pr_tuple=()
print("A Blank Tuple:",pr_tuple)

#creating a tuple without round brackets
pr_tuple=33,55,77,88,99
print("the tuple without brackets:",pr_tuple,"type:",type(pr_tuple))

#create a tuple with a numbers
pr_tuple=(33,55,77,88,99)
print("the tuple with numbers:",pr_tuple)

#create a tuple of mixed numbers
#float,integer,imaginary
pr_tuple=(3,4,5,6,8.9,9.9,3+3j)
print("the tuple with a mixed numbers:",pr_tuple)


#create a tuple of mixed data types
#using numbers,strings,list
pr_tuple=(3,6,"hello",[4,5,67,9])
print("the tuples with mixed data types:",pr_tuple)

#create a tuple of tuples
#nested tuples
pr_tuple=((5,6,78,9),(2,3,4,5),(7,9,10,12))

A Blank Tuple: ()
the tuple without brackets: (33, 55, 77, 88, 99) type: <class 'tuple'>
the tuple with numbers: (33, 55, 77, 88, 99)
the tuple with a mixed numbers: (3, 4, 5, 6, 8.9, 9.9, (3+3j))
the tuples with mixed data types: (3, 6, 'hello', [4, 5, 67, 9])

In [14]:
#type casting
#set to tuple can be created
tup_v=tuple({4,5,6,7,8})

In [15]:
type(tup_v)

tuple

In [20]:
#creating a tuple from list
tup_p=tuple([9,10])

In [17]:
type(tup_v)

tuple

In [18]:
tup_v

(4, 5, 6, 7, 8)

In [21]:
tup_p

(9, 10)

In [22]:
#single element in the tuple can be created using , after the single element.
pr=('story')

In [23]:
type(pr)

str

In [24]:
pr=('story',)

In [25]:
type(pr)

tuple

In [26]:
#one element in the list can be converted to tuple

os=tuple(['single element'])
type(os)

tuple

In [27]:
#indexing
tup_v[1]

5

In [29]:
tup_v[1]=7

TypeError: 'tuple' object does not support item assignment

In [30]:
#changing the element in the tuple is not possible

In [31]:
month=('jan','feb','mar','april','may','june','july','august')

In [32]:
month

('jan', 'feb', 'mar', 'april', 'may', 'june', 'july', 'august')

In [34]:
month[-1]

'august'

In [35]:
print(month[0][-1])
print(month[2])
print(month[:4])
print(month[:-1])

n
mar
('jan', 'feb', 'mar', 'april')
('jan', 'feb', 'mar', 'april', 'may', 'june', 'july')

In [36]:
print("the length of tuple",len(month))

the length of tuple 8

In [3]:
month=('jan','feb','mar','april','may','june','july','august')
[len(month)-1]

[7]

len(month)

In [4]:
len(month)

8

In [5]:
month[len(month)-1]

'august'

In [6]:
month[7]

'august'

In [8]:
#reverse indexing
print(month[-1])

august

In [9]:
print(month[-3])

june

In [10]:
month[:]

('jan', 'feb', 'mar', 'april', 'may', 'june', 'july', 'august')

In [11]:
month[-4]

'may'

In [12]:
new_data=(9,10,11,12,13,"tree",9.2)
print(new_data[-1])

9.2

In [13]:
new_data[1:4]

(10, 11, 12)

In [14]:
new_data[:3]

(9, 10, 11)

In [15]:
#accessing the elements from nested tuples
my_new=(1,[9,101,22],"new world")

In [16]:
print(my_new)

(1, [9, 101, 22], 'new world')

In [17]:
my_new[0]=9

TypeError: 'tuple' object does not support item assignment

In [18]:
my_new[1][0]="hh"

In [19]:
print(my_new)

(1, ['hh', 101, 22], 'new world')

In [20]:
my_new.remove("1")

AttributeError: 'tuple' object has no attribute 'remove'

In [22]:
del my_new

In [23]:
my_new

NameError: name 'my_new' is not defined

In [24]:
print(my_new[:])

NameError: name 'my_new' is not defined

In [25]:
print(month[:])

('jan', 'feb', 'mar', 'april', 'may', 'june', 'july', 'august')

In [27]:
#membership test in tuple
print('jan' in month )

True

In [28]:
print(10 in month)

False

In [34]:
for x in month:
    if 'a' in x:
        print(x)

jan
mar
april
may
august

In [36]:
#count
print(month.count('feb'))

1

In [37]:
print(month.index('feb'))

1

In [38]:
pwd

'/Users/Nandhini'

In [39]:
import os
os.listdir("./")

['ineuron python assignment 2 .ipynb',
 '.config',
 'Music',
 '.condarc',
 'python Basics Day - 4 - -SETS.ipynb',
 'Different Data Structures.ipynb',
 'Untitled1.ipynb',
 '.DS_Store',
 'Lists in Python--4.ipynb',
 '.CFUserTextEncoding',
 '.xonshrc',
 '.jssc',
 'Untitled.ipynb',
 '.zshrc',
 'Programming Assignment_1 (2) (1).ipynb',
 'Basics of Python v2.ipynb',
 'python bepec 1 nan.ipynb',
 'Creative Cloud Files',
 'python-Basics - DICT.ipynb',
 'Pictures',
 'Python Basics Day -- 4-TUPLES.ipynb',
 'Loops in python.ipynb',
 'workspace_v8',
 'Samsung',
 '.ipython',
 'Desktop',
 'Library',
 'tuple set work beeps.ipynb',
 '.matplotlib',
 'If Statement-4 (1).ipynb',
 '.oracle_jre_usage',
 'python Bepec 2 nan.ipynb',
 '.cups',
 'Sites',
 '.bash_sessions',
 '.ti',
 '.TI-trace',
 'Public',
 'Programming Assignment_11.ipynb',
 'Programming Assignment_3.ipynb',
 '.idlerc',
 '.tcshrc',
 '.anaconda',
 'Movies',
 'Applications',
 'ineuron python assignment 1.ipynb',
 '.489450.padl',
 '.Trash',
 '.ipynb_checkpoints',
 '.jupyter',
 'Documents',
 '.bash_profile',
 'anaconda3',
 'Downloads',
 '.python_history',
 '.continuum',
 '.bash_history',
 '.conda',
 'ti']

# set

In [40]:
set1={5,9,13,15,6,15,20,2,5,9}

In [41]:
det1

NameError: name 'det1' is not defined

In [42]:
set1

{2, 5, 6, 9, 13, 15, 20}

In [43]:
set2={1.0,"helo",(1,3,5)}

In [44]:
set2

{(1, 3, 5), 1.0, 'helo'}

In [45]:
import time
start=time.time()
set2={1.0,"helo",(1,3,5)}
print(set2)
print(time.time()-start)

{1.0, 'helo', (1, 3, 5)}
0.0006120204925537109

In [46]:
set2={1.0,"helo",(1,3,5)}#create set multiple datatype
print(set2)

{1.0, 'helo', (1, 3, 5)}

In [47]:
set2[0]

TypeError: 'set' object is not subscriptable

In [48]:
set2.add(5,6)

TypeError: set.add() takes exactly one argument (2 given)

In [49]:
set2.add(5)

In [50]:
set2

{(1, 3, 5), 1.0, 5, 'helo'}

In [52]:
set2.update([9,10],{8,9})

In [53]:
set2

{(1, 3, 5), 1.0, 10, 5, 8, 9, 'helo'}

In [54]:
set2.discard(8)

In [55]:
set2

{(1, 3, 5), 1.0, 10, 5, 9, 'helo'}

In [56]:
set2.pop()

1.0

In [57]:
set2

{(1, 3, 5), 10, 5, 9, 'helo'}

In [64]:
my_set

set()

In [67]:
my_set=set("helloworld")

In [70]:
my_set

{'d', 'e', 'h', 'l', 'o', 'r', 'w'}

In [69]:
my_det.pop()

NameError: name 'my_det' is not defined

In [71]:
my_set.pop()#pop

'l'

In [72]:
print(my_set)

{'o', 'd', 'e', 'h', 'w', 'r'}

In [73]:
my_set.pop()

'o'

In [74]:
print(my_set)

{'d', 'e', 'h', 'w', 'r'}

In [75]:
my_set.clear()#clear

In [76]:
my_set

set()

In [77]:
#python set operation
#union
x1={1,2,3,4,5,6,7,8}
x2={5,6,7,8,9,10,11}
print(x1|x2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [78]:
x1.union(x2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [79]:
x2.union(x1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [80]:
#intersection
x1={1,2,3,4,5,6,7,8}
x2={5,6,7,8,9,10,11}
print(x1 & x2)

{8, 5, 6, 7}

In [81]:
x1.intersection(x2)

{5, 6, 7, 8}

In [82]:
x2.intersection(x1)

{5, 6, 7, 8}

In [83]:
#set difference
x1={1,2,3,4,5,6,7,8}
x2={5,6,7,8,9,10,11}
print(x1-x2)

{1, 2, 3, 4}

In [84]:
print(x2-x1)

{9, 10, 11}

In [85]:
x1.difference(x2)

{1, 2, 3, 4}

In [86]:
x2.difference(x1)

{9, 10, 11}

In [87]:
#set symmetric difference
x1={1,2,3,4,5,6,7,8}
x2={5,6,7,8,9,10,11}
x1^x2

{1, 2, 3, 4, 9, 10, 11}

In [88]:
set3=set("building")

{'b', 'd', 'g', 'i', 'l', 'n', 'u'}

In [92]:
set3=set("building")
for i in set3:
    print(i,end="\n")

l
b
d
u
n
i
g

In [93]:
x1={1,2,3,4,5,6,7,8}
x2={5,6,7,8,9,10,11}

x1.difference_update(x2)

In [94]:
print(x1)

{1, 2, 3, 4}

In [95]:
print(x2)

{5, 6, 7, 8, 9, 10, 11}

In [96]:
x2.difference_update(x1)

In [97]:
print(x2)

{5, 6, 7, 8, 9, 10, 11}

In [100]:
print(x1)
print(x2)

{1, 2, 3, 4}
{5, 6, 7, 8, 9, 10, 11}

In [103]:
x1={1,2,3,4,5,6,7,8,9}
x2={8,9,10,11,12,13}
x1.symmetric_difference_update(x2)

In [104]:
print(x1)

{1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13}

In [105]:
print(x2)

{8, 9, 10, 11, 12, 13}

In [106]:
x1.intersection_update(x2)

In [107]:
print(x1)

{10, 11, 12, 13}

In [108]:
print(x2)

{8, 9, 10, 11, 12, 13}

In [109]:
print(x1.isdisjoint(x2))

False

In [112]:
x1={1,2,3,4,5,6,7,8,9}
x2={7,8,9}   
print(x1.isdisjoint(x2))

False

In [113]:
print(x1.issubset(x2))

False